Flask==0.10.1
Flask-Login==0.2.7
Flask-OAuth==0.12
Flask-SQLAlchemy==1.0
Flask-SeaSurf==0.1.21
Jinja2==2.7.1
MarkupSafe==0.18
SQLAlchemy==0.8.2
Werkzeug==0.9.4
amqp==1.0.13
anyjson==0.3.3
billiard==2.7.3.32
celery==3.0.23
distribute==0.6.28
httplib2==0.8
itsdangerous==0.23
kombu==2.5.14
librabbitmq==1.0.1
oauth2==1.5.211
psycopg2==2.5.1
python-dateutil==2.1
pytz==2013b
six==1.4.1
wsgiref==0.1.2
